#colorbox{
    width: 2000px;
    height: 2000px;
    background-color: lightgray;
    margin: 20px auto;
    border: 2px solid black;
}



.buttons button{
    color:white;
}
button[data-color = "red"]{background-color: red;}
button[data-color = "blue"]{background-color: blue;}
button[data-color = "pink"]{background-color: pink;}
button[data-color = "black"]{background-color: black;}
