body{
    font-family: Arial, Helvetica, sans-serif;
}

   
    button{
        padding: 15px 10px;
        font-size: 10px;
        background-color: rgb(160, 125, 112);
        color: white;
        border:none;
    }

    button:hover{
        background-color: brown;
    }